body {
    background-color: rgb(147, 188, 202);
    font-family: courier;
  }

/***************************************************/

header {
    border: 2px solid powderblue;
    padding: 30px;
    background-color: powderblue;
}

/***************************************************/

nav {
  text-decoration-line: none;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3a761;
  }

  ul li {
    float: left;
  }

  ul li a {
    display: block;
    color: rgb(22, 7, 105);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #72a0e6;
  }
}
/***************************************************/

main {
  color: rgb(255, 255, 255);
  border: 2px solid powderblue;
  background-color: darkblue;
  border-radius: 4px;
  padding-left: 10px;
}

img {
  width:auto;
  height:228px;
}

/***************************************************/

.Lable {
  color: darkblue;
  background-color: white;
  }

.boldText {
  font-weight: bold;
}

/***************************************************/

.container {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 600px 600px;
}

.container div {
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

  .Item5 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  /***************************************************/
  
  @media screen and (max-width: 700px) {
    body {
    background-color: red;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 800px) {
    body {
    background-color: orange;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 900px) {
    body {
    background-color: yellow;
    }
  }

  @media screen and (min-width: 900px) and (max-width: 1000px){
    body {
    background-color: green;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1100px) {
    body {
    background-color: blue;
    }
  }

  @media screen and (min-width: 1100px) and (max-width: 1200px) {
    body {
    background-color: indigo;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1300px) {
    body {
    background-color: violet;
    }
  }