body {
    background-color: rgb(147, 188, 202);
    font-family: courier;
  }

header {
    border: 2px solid powderblue;
    padding: 30px;
    background-color: powderblue;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3a761;
  }

  ul li {
    float: left;
  }

  ul li a {
    display: block;
    color: rgb(22, 7, 105);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #72a0e6;
  }
}

/************/
h1 {
  color: rgb(32, 32, 112);
}

p {
  border: 2px solid powderblue;
  padding: 30px;
}

img {
  border: 1px solid #924040;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}